body {
  background: #ffffff;
  color: #141414;
  margin-left: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.movieList-Container {
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  max-width: 30%;
  /* gap: 30px; */
  /* transition: transform 0.2s; */
}

.Favourite-button {
  width: 100%;
}
.movieList-details {
  margin-top: 20px;
}
/* .movieList-Container:hover {
  cursor: pointer;
  transform: scale(1.1);
} */

/* .movieList-Container:hover .overlay {
  opacity: 1;
} */

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
