.movieList-Container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 30%;
  margin-top: 50px;
  margin-left: 125px;
}

.Favourite-button {
  width: 100%;
}
.movieList-details {
  margin-top: -61px;
}

.AddToFavourite-button {
  color: goldenrod;
  margin-top: 15px;
  margin-bottom: 15px;
  box-sizing: content-box;
}

.RemoveAllFavourites-button {
  color: black;
  align-items: center;
  width: fit-content;
  font-size: 25px;
  border-radius: 2px;
  display: block;
}

.headerContainer {
  color: #ffffff;
  height: fit-content;
  width: 100%;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-bottom: 10px;
}

.headerContainer {
  height: 100%;
}
